# Folders
files/
notebooks/algonauts_2023_challenge_submission
notebooks/util_algonauts_2023_challenge_reconstruct_tutorial.ipynb
notebooks/util_algonauts_2023_challenge_tutorial.ipynb
masks_surfaces_subj1_test.ipynb