# Folders
files/pca
files/preds_backups
files/repos
files/submission_outputs
files/submissions
docs/MeetingSlides
docs/MeetingSlides
scripts/algonauts_2023_challenge_submission
notebooks/algonauts_2023_challenge_submission
notebooks/util_algonauts_2023_challenge_reconstruct_tutorial.ipynb
notebooks/util_algonauts_2023_challenge_tutorial.ipynb
docs/
masks_surfaces_subj1_test.ipynb
files/test_folder/(2023-08-19_16-29)-config_subj7_0.54767/subj-wise_correlation_boxplot.html
files/test_folder/(2023-08-19_16-29)-config_subj7_0.54767/subj-wise_correlation_boxplot.png
files/test_folder/(2023-08-19_16-29)-config_subj7_0.54767/subj-wise_correlation_histogram.html
files/test_folder/(2023-08-19_16-29)-config_subj7_0.54767/subj-wise_correlation_histogram.png
files/test_folder/(2023-08-19_16-29)-config_subj7_0.54767/val_results.csv
files/test_folder/(2023-08-19_16-29)-config_subj7_0.54767/val_scores_subj_hemisphere_ROI.txt
files/test_folder/(2023-08-19_16-29)-config_subj7_0.54767/val_scores_subj_hemisphere.txt
files/test_folder/(2023-08-19_16-29)-config_subj7_0.54767/val_scores.txt
files/test_folder/(2023-08-19_16-29)-config_subj7_0.54767/test_predictions/subj7_0.54767_resto_subj1_0.6.zip
files/test_folder/(2023-08-19_16-29)-config_subj7_0.54767/test_predictions/subj01/lh_pred_test.npy
files/test_folder/(2023-08-19_16-29)-config_subj7_0.54767/test_predictions/subj01/rh_pred_test.npy
files/test_folder/(2023-08-19_16-29)-config_subj7_0.54767/test_predictions/subj02/lh_pred_test.npy
files/test_folder/(2023-08-19_16-29)-config_subj7_0.54767/test_predictions/subj02/rh_pred_test.npy
files/test_folder/(2023-08-19_16-29)-config_subj7_0.54767/test_predictions/subj03/lh_pred_test.npy
files/test_folder/(2023-08-19_16-29)-config_subj7_0.54767/test_predictions/subj03/rh_pred_test.npy
files/test_folder/(2023-08-19_16-29)-config_subj7_0.54767/test_predictions/subj04/lh_pred_test.npy
files/test_folder/(2023-08-19_16-29)-config_subj7_0.54767/test_predictions/subj04/rh_pred_test.npy
files/test_folder/(2023-08-19_16-29)-config_subj7_0.54767/test_predictions/subj05/lh_pred_test.npy
files/test_folder/(2023-08-19_16-29)-config_subj7_0.54767/test_predictions/subj05/rh_pred_test.npy
files/test_folder/(2023-08-19_16-29)-config_subj7_0.54767/test_predictions/subj06/lh_pred_test.npy
files/test_folder/(2023-08-19_16-29)-config_subj7_0.54767/test_predictions/subj06/rh_pred_test.npy
files/test_folder/(2023-08-19_16-29)-config_subj7_0.54767/test_predictions/subj07/lh_pred_test.npy
files/test_folder/(2023-08-19_16-29)-config_subj7_0.54767/test_predictions/subj07/rh_pred_test.npy
files/test_folder/(2023-08-19_16-29)-config_subj7_0.54767/test_predictions/subj08/lh_pred_test.npy
files/test_folder/(2023-08-19_16-29)-config_subj7_0.54767/test_predictions/subj08/rh_pred_test.npy
files/test_folder/(2023-08-19_16-29)-config_subj7_0.54767/val_correlations/subj07/lh_corr_val.npy
files/test_folder/(2023-08-19_16-29)-config_subj7_0.54767/val_correlations/subj07/rh_corr_val.npy
files/test_folder/(2023-08-19_16-29)-config_subj7_0.54767/val_imgs/subj07/box_pearson_20230819172457.html
files/test_folder/(2023-08-19_16-29)-config_subj7_0.54767/val_imgs/subj07/box_pearson_20230819172457.png
files/test_folder/(2023-08-19_16-29)-config_subj7_0.54767/val_imgs/subj07/histogram_pearson_20230819172455.html
files/test_folder/(2023-08-19_16-29)-config_subj7_0.54767/val_imgs/subj07/histogram_pearson_20230819172455.png
files/test_folder/(2023-08-19_16-29)-config_subj7_0.54767/val_imgs/subj07/scores_subj_hemishphere_roi.txt
files/test_folder/(2023-08-19_16-29)-config_subj7_0.54767/val_predictions/subj07/lh_pred_val.npy
files/test_folder/(2023-08-19_16-29)-config_subj7_0.54767/val_predictions/subj07/rh_pred_val.npy
